.product-container{
    width: 100%;
    max-width: 250px;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border:1px solid gainsboro;
    border-radius: 10px;
    text-align: center;
}
.product-container:hover{
    background-color:gray;
    color:white
}

.product-title{
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid gainsboro;
    min-height: 50px;
}

.product-contents{
    font-size: 16px;
    min-height: 100px;
}